.App {
  text-align: center;
  background-color: rgba(26, 25, 24, 0.336);
}

body{
  background-image: url('/src/pexels-pixabay-373481.jpg');
  background-size: cover ;
  height: 100%;
}

.deletebtn{
  background-color: crimson;
  margin-left: 20px;
}

.text{
  border: 2px solid black;
}

